<!DOCTYPE html>
<html>
  <head>
    <title> Theme Parser </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <div id="container">
        <ul id="links">
        </ul>
      </div>
    </div>  
    <script src="js/jquery-2.1.3.min.js"></script>
    <script>
      $(document).on('ready', function() {
        setInterval(function() {
          $('#links').empty().fadeOut('slow', function() {
            $.getJSON('http://localhost:4567/check', function(post) {
              $.each(post, function(index, post) {
                $('#links').append('<li class=link>' + post.body + '</li>')
              });
            }).then(function() {
              $('#links').fadeIn('slow');
            });
          });
          }, 10000)
      });
    </script> 
  </body>
</html>